[submodule "external/miracl_core"]
	path = external/miracl_core
	url = https://github.com/miracl/core.git
[submodule "external/benchmark"]
	path = external/benchmark
	url = https://github.com/google/benchmark.git
[submodule "external/gmp"]
	path = external/gmp
	url = https://github.com/rookie-papers/GMP.git
